{% extends "base.html" %}
{% block content %}

<div class="container text-center mt-5">

<h1 class="text-white mb-5">All Articles</h1>

<div class="row justify-content-center">

<div class="col-md-3 mb-4">
<a href="/articles/devops-roadmap/" class="text-decoration-none">
<div class="card p-4 shadow">
<h4>DevOps Roadmap</h4>
</div>
</a>
</div>

<div class="col-md-3 mb-4">
<a href="/articles/docker-guide/" class="text-decoration-none">
<div class="card p-4 shadow">
<h4>Docker Guide</h4>
</div>
</a>
</div>

<div class="col-md-3 mb-4">
<a href="/articles/kubernetes-basics/" class="text-decoration-none">
<div class="card p-4 shadow">
<h4>Kubernetes Basics</h4>
</div>
</a>
</div>

<div class="col-md-3 mb-4">
<a href="/articles/cicd-pipelines/" class="text-decoration-none">
<div class="card p-4 shadow">
<h4>CI/CD Pipelines</h4>
</div>
</a>
</div>

</div>

</div>

{% endblock %}