{% extends "base.html" %}
{% block content %}

<div class="container text-center mt-5">

<h1 class="text-white mb-5">All Courses</h1>

<div class="row justify-content-center">

<div class="col-md-3 mb-4">
<a href="/courses/docker/" class="text-decoration-none">
<div class="card p-4 shadow">
<h4>Docker Mastery</h4>
</div>
</a>
</div>

<div class="col-md-3 mb-4">
<a href="/courses/kubernetes/" class="text-decoration-none">
<div class="card p-4 shadow">
<h4>Kubernetes Complete</h4>
</div>
</a>
</div>

<div class="col-md-3 mb-4">
<a href="/courses/terraform/" class="text-decoration-none">
<div class="card p-4 shadow">
<h4>Terraform Infrastructure</h4>
</div>
</a>
</div>

<div class="col-md-3 mb-4">
<a href="/courses/cicd/" class="text-decoration-none">
<div class="card p-4 shadow">
<h4>CI/CD DevOps Pipeline</h4>
</div>
</a>
</div>

</div>

</div>

{% endblock %}