{% extends "base.html" %}

{% block content %}

<div class="min-h-screen flex items-center justify-center bg-gradient-to-r from-blue-600 to-blue-800">

<div class="bg-white p-10 rounded-xl shadow-xl w-96">

<h2 class="text-2xl font-bold mb-6 text-center">
User Login
</h2>

<form method="POST">

{% csrf_token %}

<input name="username"
placeholder="Username"
class="w-full border p-3 mb-4 rounded">

<input type="password"
name="password"
placeholder="Password"
class="w-full border p-3 mb-4 rounded">

<button class="w-full bg-blue-600 text-white p-3 rounded">
Login
</button>

</form>

</div>

</div>

{% endblock %}
